<configuration>

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>testname</Key>
            <DefaultValue>testrun</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${testname}" class="ch.qos.logback.core.FileAppender">
                <file>logs/${testname}-${bySecond}.log</file>
                <encoder>
                    <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SIFT" />
    </root>
</configuration>